div{
    background: #8e44ad;
    color: white;
    padding: .2rem .3rem 1rem .3rem;
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    animation-name: animar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes animar {
    
    0%{
        top: 4rem;
        left: 8rem;
    }

    8%{
        left: 8rem;
        top: 4rem;
    }

    16%{
        top:25rem;
    }

    24%{
        left:8rem;
    }

    32%{
        top: 25rem;
        left: 4rem;
    }

    40%{
        top: 27rem;
        left:4rem;
    }
    48%{
        top: 27rem;
        left: 27rem;        
    }
    56%{
        top: 25rem;
        left: 27rem;
    }

    64%{
        left: 26rem;
    }
    72%{
        top: 21rem;
        left: 27rem;
    }
    80%{
        top: 19rem;
        left: 27rem;
    }

    88%{
        left: 23rem;
        top: 19rem;
    }
    96%{
        top: 4rem;
        left: 23rem;
    }
    100%{
        top: 4rem;
        left: 8rem;
    }
}
