#imagen{
    float: left;
    padding-top: 350px;
    margin: 10px;
}

body{
    margin: 10px;
}

h2{
    font-family: Arial;
    color: brown;
}

legend{
    background-color: aqua;
}

fieldset{
    background-color: aquamarine;
}

#boton{
    width: 150px;
    color: white;
    font-size: 14px;
    font-family: verdana;
    height: 30px;
    background-color: cadetblue;
}