body{
    margin: 0px auto;
}

.grid{
    display: grid;
    font-family: 'Times New Roman';
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-areas: "my-header"
    "my-nav" "my-section" "my-footer";
}

header{
    grid-area: my-header;
    background-color: ghostwhite;
}

nav{
    background-color: #8C6D86;
    grid-area: my-nav;
}

section{
    background-color: #bccfd0;
    grid-area: my-section;
}

footer{
    background-color: #604d45;
    grid-area: my-footer;
}

h1{
    font-family: serif;
    font-size: 50px;
    margin-top: 60px;
    color: brown;
}

h2{
    margin-left: 240px;
    color: linen;
}

nav a{
    text-decoration: none;
    font-family: Georgia;
    color: white;
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

