body{
    margin: 0;
    padding: 0;
}

header{
    padding-bottom: 80px;
    font-family: 'Times New Roman';
    background-color: antiquewhite;
}

nav{
    background-color: azure;
    flex: 30px;
}

nav a{
    text-decoration: none;
    margin-left: 200px;
    color: darkgrey;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70%;
    background-color: gainsboro;
    padding-bottom: 0px;
}

aside{
    background-color: bisque;
    text-align: center;
}

#menu{
    background-color: aliceblue;
}

#enlace{
    background-color: aliceblue;
}

footer{
    background-color: beige;
}

footer a{
    margin-left: 80px;
}

#texto{
    margin-left: 180px;
    margin-top: -120px;
}

div h1{
    color: darkred;
}
div h2{
    color: chocolate;
}

div h3{
    margin-top: -120px;
    text-align: right;
    margin-right: 20px;
}

#form{
    height: 100px;
    padding-left: 50px;
    padding-top: 15px;
}

#form2{
    padding-left: 50px;
    padding-top: 15px;
}

#titulo{
    color: darkseagreen;
    font-size: 20px;
    text-align: center;
}

#subtitulo{
    font-size: 18px;
    text-align: center;
}

#contact{
    padding-left: 100px;
    background-color: azure;
    width: 500px;
    height: 300px;
    padding-bottom: 30px;
    padding-top: 40px;
    position: relative;
    left: 150px;
    top: 30px;
}

#btn1{
    position: relative;
    top: -326px;
    left: 380px;
    font-size: 15px;
    width: 90px;
}

#info{
    text-align: right;
    position: relative;
    top: -360px;
    right: 290px;
    font-size: 18px;
}

#info2{
    text-align: right;
    position: relative;
    top: -360px;
    right: 220px;
    font-size: 20px;
}
