body{
    margin: 0px auto;
}

header{
    padding-bottom: 80px;
    font-family: 'Times New Roman';
    background-color: antiquewhite;
}

nav{
    background-color: azure;
    flex: 30px;
}

nav a{
    text-decoration: none;
    margin-left: 200px;
    color: darkgrey;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70%;
    background-color: gainsboro;
}

aside{
    background-color: bisque;
    text-align: center;
}

#menu{
    background-color: aliceblue;
}

#enlace{
    background-color: aliceblue;
}

footer{
    background-color: beige;
}

footer a{
    margin-left: 105px;
}

#texto{
    margin-left: 180px;
    margin-top: -120px;
}

div h1{
    color: darkred;
}
div h2{
    color: chocolate;
}

div h3{
    margin-top: -120px;
    text-align: right;
    margin-right: 20px;
}

#form{
    height: 100px;
    padding-left: 50px;
    padding-top: 15px;
}

#form2{
    position: relative;
    left: 90px;
    top: 20px;
}

#titulo{
    color: darkseagreen;
    font-size: 20px;
    text-align: center;
}

#subtitulo{
    font-size: 25px;
    text-align: center;
}

#img1{
    width: 400px;
    float: right;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 30px;
}

#img2{
    width: 200px;
    position: relative;
    left: 60px;
    padding-bottom: 40px;
}

#img3{
    width: 200px;
    position: relative;
    left: 100px;
    top: -9px;
    padding-bottom: 40px;
}

#img4{
    width: 150px;
    position: relative;
    left: 160px;
    padding-bottom: 40px;
}

#img5{
    width: 200px;
    position: relative;
    top: 10px;
    left: 60px;
}

#img6{
    width: 200px;
    position: relative;
    top: 10px;
    left: 100px;
}

#img7{
    width: 234px;
    position: relative;
    top: 10px;
    left: 140px;
}

#category a{
    margin-left: 150px;
}

#category2 a{
    margin-left: 150px;
}

#boton1{
    position: relative;
    left: -400px;
}

#boton2{
    position: relative;
    left: -206px;
}

#boton3{
    position: relative;
    left: -500px;
    top: 40px;
}

#boton4{
    position: relative;
    left: -300px;
    top: 40px;
}

#boton5{
    position: relative;
    left: -90px;
    top: 40px;
}

#foot a{
    text-decoration: none;
    margin-left: 147px;
    color: cadetblue;
}