body{
    margin: 0px auto;
}

header{
    padding-bottom: 80px;
    font-family: 'Times New Roman';
    background-color: antiquewhite;
}

nav{
    background-color: azure;
    flex: 30%;
}

nav a{
    text-decoration: none;
    margin-left: 200px;
    color: darkgrey;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70%;
    background-color: gainsboro;
}

aside{
    background-color: bisque;
    text-align: center;
}

#menu{
    background-color: aliceblue;
}

#enlace{
    background-color: aliceblue;
}

footer{
    background-color: beige;
}

footer a{
    margin-left: 105px;
}

#texto{
    margin-left: 180px;
    margin-top: -120px;
}

div h1{
    color: darkred;
}
div h2{
    color: chocolate;
}

div h3{
    margin-top: -120px;
    text-align: right;
    margin-right: 20px;
}

#form{
    height: 100px;
    padding-left: 50px;
    padding-top: 15px;
}

#form2{
    position: relative;
    left: 90px;
    top: 20px;
}

#titulo{
    color: darkseagreen;
    font-size: 20px;
    text-align: center;
}

#subtitulo{
    font-size: 15px;
    text-align: left;
    padding-top: 100px;
    padding-left: 30px;
}

#parrafo{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

#subtitulo1{
    font-size: 15px;
    text-align: left;
    padding-top: 120px;
    padding-left: 30px;
}

#table1{
    padding-left: 30px;
}

td,th{
    border: 1px solid;
    border-color: blue;
}

th{
    background-color: aquamarine;
    color: brown;
}

#subtitulo2{
    font-size: 15px;
    text-align: left;
    padding-top: 140px;
    padding-left: 30px;
}

#table2{
    padding-left: 30px;
    padding-bottom: 10px;
}

#foot a{
    text-decoration: none;
    margin-left: 147px;
    color: cadetblue;
}

@media (min-width:320px){
    .grid{
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 150px 1fr 100px;
        grid-template-areas: "my-header"
        "my-aside" "my-section" "my-footer";
    }
}

@media (min-width:600px) and (max-width:1000px){
    .grid{
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 50px 1fr 100px;
        grid-template-areas: "my-header my-header"
        "my-aside my-aside" "my-section" "my-footer my-footer";
    }
}

@media(min-width:1001px){
    .grid{
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 1fr 100px;
        grid-template-areas: "my-header my-header"
        "my-aside my-section" "my-footer my-footer";
    }
}