body{
    margin: 0px auto;
}

header{
    padding-bottom: 80px;
    font-family: 'Times New Roman';
    background-color: antiquewhite;
    grid-area: my-header;
}

aside{
    flex: 30px;
    background-color: bisque;
    text-align: center;
}

#m1{
    background-color: azure;
    list-style: none;
    padding: 0;
    margin: auto;
}

#m1 li a{
    text-decoration: none;
    margin-left: 150px;
    color: darkgrey;
    padding: 20px;
    display: block;
}

#m1 li{
    display: inline-block;
    text-align: center;
}

#m1 li a:hover{
    background-color: lemonchiffon;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70%;
    background-color: gainsboro;
    grid-area: my-section;
}

#menu{
    background-color: aliceblue;
}

#enlace{
    background-color: aliceblue;
}

footer{
    background-color: beige;
    grid-area: my-footer;
    padding: 10px;
}

footer a{
    margin-left: 105px;
}

#pie{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

#texto{
    margin-left: 180px;
    margin-top: -120px;
}

div h1{
    color: darkred;
}
div h2{
    color: chocolate;
}

div h3{
    margin-top: -120px;
    text-align: right;
    margin-right: 20px;
}

#form{
    height: 100px;
    padding-left: 50px;
    padding-top: 15px;
    
}

#form2{
    float: left;
    padding-left: 140px;
    width: 40px;
}

#titulo{
    color: darkseagreen;
    font-size: 20px;
    text-align: center;
}

#foot a{
    text-decoration: none;
    margin-left: 140px;
    color: cadetblue;
}

