body{
    margin: 0px auto;
}

header{
    padding-bottom: 80px;
    font-family: 'Times New Roman';
    background-color: antiquewhite;
    grid-area: my-header;
}

aside{
    flex: 30px;
    background-color: bisque;
    text-align: center;
}

#m1{
    background-color: azure;
    list-style: none;
    padding: 0;
    margin: auto;
}

#m1 li a{
    text-decoration: none;
    margin-left: 150px;
    color: darkgrey;
    padding: 20px;
    display: block;
}

#m1 li{
    display: inline-block;
    text-align: center;
}

#m1 li a:hover{
    background-color: lemonchiffon;
}

#contenido{
    display: flex;
    flex-wrap: wrap;
}

section{
    flex: 70%;
    background-color: gainsboro;
    grid-area: my-section;
}

#menu{
    background-color: aliceblue;
}

#menu a{
    text-decoration: none;
    color: darkgoldenrod;
}

#enlace{
    background-color: aliceblue;
}

footer{
    background-color: beige;
    grid-area: my-footer;
    padding: 50px;
}

footer a{
    margin-left: 105px;
}

#pie{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
}

#texto{
    margin-left: 180px;
    margin-top: -120px;
}

div h1{
    color: darkred;
}
div h2{
    color: chocolate;
}

div h3{
    margin-top: -120px;
    text-align: right;
    margin-right: 20px;
}

#form{
    height: 100px;
    padding-left: 50px;
    padding-top: 15px;
    
}
#form2{
    width: 40px;
}

#p1 li a{
    margin: 0px;
}

#p1{
    position: relative;
    left: 60px;
    top: -100px;
}

#p2 li a{
    margin: 0px;
}

#p2 {
    position: relative;
    left: 380px;
    top: -185px;
}

#p3 li a{
    margin: 0px;
}

#p3 {
    position: relative;
    left: 700px;
    top: -270px;
}

#p4 li a{
    margin: 0px;
}

#p4 {
    position: relative;
    left: 380px;
    top: -185px;
}

#titulo{
    color: darkseagreen;
    font-size: 20px;
    text-align: center;
}

#parrafo1, #parrafo2{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

#img1, #img4{
    float: right;
    width: 300px;
    padding-left: 30px;
    padding-right: 15px;
}

#img2{
    font-size: 19px;
    padding-left: 150px;
    color: darkred;
    font-family: Cambria;
}

#img3{
    font-size: 19px;
    padding-top: 80px;
    padding-left: 150px;
    color: darkred;
    font-family: Cambria;
}