#contenedor{
    width: 600px;
    margin: auto;
    background-color: azure;
    padding-left: 10px;
    font-family: calibri;
}

span{
    width: 100px;
    display: block;
    float: left;
    padding-left: 4px;
}

.nom{
    background-color: cornsilk;
}

.titu{
    background-color: antiquewhite;
}

li{
    list-style: none;
    margin-top: 1px;
}

ul{
    margin: 0px;
    padding-left: 0px;
}
